* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'cormorant', sans-serif;
}

body {
    background-color: #D9D7D7;
}

/* Header: */


            header h1 {
                text-align: center;
            }

            header h1 a{
                font-size: 50px;
                color: black;
                text-decoration: none;
            }



        /* Carrosel: */

            section.container-carrosel{
                margin: 1em;
            }

            #carouselExampleCaptions img {
                border-radius: 10px;
            }
        
        /* Botão de Música: */
            .btn-msc {
                display: block;
                width: 8rem;
                height: 3rem;
                margin: 0 auto;
                margin-top: 1em;
                color: #F2C185;
                border: none;
                border-radius: 10px;
                box-shadow: 0 0 8px 2px #F2C185;
                margin-bottom: 1em;
            }


/* main: index.html */

    /* Card com mensagem: */

            main div.card {
                display: block;
                margin: 0 auto;
                width: 20rem;
                height: 20rem;
                background-color: #731702;
                text-align: center;
                margin-bottom: 2em;
            }

            main div.card h2 {
                margin-top: 10px;
                color: #F2C185;
            }

            main div.card p{
                max-width: 18rem;
                text-align: center;
                margin: 0 auto;
                margin-top: 10px;
                color: #D9D7D7;
                border: 1px solid #D9D7D7;
                padding: 10px;
            }

/* main: ele.html */

            /* img: */

            .img-ele{
                height: 200px;
              margin: 4em;
            }